---
// Main layout component
import '../styles/global.css';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script data-noptimize="1" data-cfasync="false" data-wpfc-render="false">
      (function () {
          var script = document.createElement("script");
          script.async = 1;
          script.src = 'https://tp-em.cc/NDAzNTg2.js?t=403586';
          document.head.appendChild(script);
      })();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html> 